.navbar-top {
    background-color: #56b6b6;
    border-radius: 7px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 7px;
}

.navbar-login-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 7px;
}

.navbar-list-item {
    float: left;
    border-radius: 7px;
}

.navbar-login-options-item {
    float: right;
    border-radius: 7px;
}

.navbar-list-item-text {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Nunito;
}

.navbar-login-options-item-text {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Nunito;
}

.navbar-list-item-text:hover {
    background-color: #299494;
    border-radius: 7px;
}

.navbar-list-item-active {
    background-color: #1dc5c5;
    float: left;
    border-radius: 7px;
}

.content-main-index-header {
    text-align: center;
}

.content-main-index-header-h1 {
    font-family: Nunito;
}

.content-main-index-header-text {
    font-family: Nunito Sans;
}

.content-main-index-button-new {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.content-main-index-button-new:hover {
    color: black;
}

.content-main-index-button-new:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.content-main-index-button-new:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

